server {
    listen 80;
    server_name snf-38220.ok-kno.grnetcloud.net;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name snf-38220.ok-kno.grnetcloud.net;

    ssl_certificate /etc/ssl/certs/fullchain.pem;
    ssl_certificate_key /etc/ssl/private/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri /index.html;
    }
}
